@import "tailwindcss";


/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap'); */
body{
        background: linear-gradient(145deg,#00053D 50%, #0955FF 95%) !important;
          font-family: 'Poppins', sans-serif !important;
            font-family: 'Inter', sans-serif !important;
}


.poppinns{
          font-family: 'Poppins', sans-serif !important;
}

  